@import '../../global';

.Main {
  height: 100%;

  &-scrollContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
  }

  &-project {
    width: 258px;
    margin: 20px;
    height: 130px;
    border: @gray-solid-border;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform .1s ease;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 20px -10px #00000033;
    }

    &:active {
      transform: scale(1.03);
      box-shadow: 0 0 15px -7px #00000033;
    }

    &-image {
      justify-content: center;

      &-plus {
        height: 90px;
      }
    }

    &-title {
      height: 30px;
      flex-shrink: 0;
      padding: 0 10px;
      line-height: 30px;
      font-size: 18px;
      border-bottom: @gray-solid-border;
      @text-hidden-overflow();
    }

    &-description {
      height: 100%;
      margin: 5px 10px;
      overflow: hidden;
      font-size: 14px;
      line-height: 1;
    }
  }

  &-projectAdd {
    width: 500px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;

    &-head {
      padding: 10px 15px;
      font-size: 20px;
      border-bottom: 1px solid #dedede;
    }

    &-body {
      &-row {
        padding: 10px 15px;
        display: flex;

        &-name {
          width: 120px;
          font-size: 17px;
          flex-shrink: 0;
        }

        &-input, &-textarea {
          border: none;
          border-bottom: 1px solid #dedede;
          outline: none;
          font-size: 14px;
        }

        &-textarea {
          width: 100%;
        }
      }
    }

    &-footer {
      display: flex;
      justify-content: flex-end;
      padding: 10px;

      &-button {
        width: 75px;
        padding: 5px;
        border: 1px solid #dedede;
        border-radius: 5px;
        text-align: center;
        margin-left: 10px;
        cursor: pointer;
        user-select: none;
        transition: background-color .3s ease;

        &:hover {
          background-color: #efefef;

          &:active {
            background-color: #dedede;
          }
        }
      }
    }
  }
}

.ScrollbarsCustom {
  &-Track {
    height: 100% !important;
    top: 0 !important;
    border-radius: 0 !important;
    width: 5px !important;
    transition: width .1s ease;

    &:hover, &:active {
      width: 13px !important;
    }
  }

  &-Content {
    padding: 0 !important;
  }

  &-Thumb {
    border-radius: 0 !important;
  }
}