.Constructor {
  height: 100%;

  &-scrollContainer {
    display: flex;
    flex-direction: column;
  }

  &-stagesLine {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    min-height: 670px;
    border-right: 1px solid #dedede;
    background-color: #fff;
    overflow: hidden;

    & > .ProjectStage:last-child {
      z-index: 0;
    }

    &-init > .ProjectStage:last-child {
      margin-top: -51px;
      z-index: 0;
    }
  }
}